.about {
    margin-top: -1px;
    @include image-set-jpg('../img/about-bg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--black-color);
    color: var(--white-color);
    @include adaptiveValue("padding-top", 60, 40);
    @include adaptiveValue("padding-bottom", 60, 40);
    &__title {
        color: var(--white-color);
    }

    &__inner {
        @include adaptiveValue("margin-top", 40, 20);
        @include adaptiveValue("font-size", 18, 13);
        line-height: math.div(24, 18);
        p{
            &:not(:first-child){
                margin-top: 10px;
            }
        }
    }
}
