.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-color);
    z-index: 502;

    &__nav {
        @media (max-width:$tablet) {
            display: flex;
            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction,
                transform $transitionSpeed $transitionFunction;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 11;
            background-color: var(--header-color);
            width: 100%;
            height: var(--vh);
            justify-content: center;

            &.menu--active {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__inner {
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: height $transitionSpeed $transitionFunction;

        @media (max-width:$tablet) {
            height: 60px;
        }
    }

    &__logo {
        svg {
            transition: width $transitionSpeed $transitionFunction,
                height $transitionSpeed $transitionFunction;
        }
    }

    &.header-scroll-mini {
        .header {
            &__inner {
                height: 65px;

                @media (max-width:$tablet) {
                    height: 50px;
                }
            }

            &__logo {
                svg {
                    width: 87px;
                    height: 42px;

                    @media (max-width:$tablet) {
                        width: 72px;
                        height: 37px;
                    }
                }
            }
        }
    }

    @media (max-width:$tablet) {
        z-index: 11;
    }
}
