.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-color);


    &__nav {
        @media (max-width:$tablet) {
            display: flex;
            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction,
                transform $transitionSpeed $transitionFunction;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 11;
            background-color: var(--header-color);
            width: 100%;
            height: var(--vh);
            justify-content: center;

            &.menu--active {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__inner {
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__burger {}
}
