.hero {
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        margin-top: var(--header-height);
        height: calc(var(--vh) - var(--header-height));
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width:$smallTablet) {
            height: calc(var(--vh) - var(--header-height) - 125px);
        }
    }

    &__subtitle {
        @include adaptiveValue("font-size", 22, 16);
        line-height: math.div(30, 22);
    }

    &__title {
        margin-top: 10px;
        @include adaptiveValue("font-size", 50, 32);
        line-height: math.div(60, 50);
    }

    &__btn {
        margin-top: 20px;
        align-self: start;
    }
}
