.hero {
    @include image-set-jpg('../img/hero-bg');
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        margin-top: var(--header-height);
        height: calc(100vh - var(--header-height));
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width:$smallTablet) {
            height: calc(100vh - var(--header-height) - 150px);
        }
    }

    &__subtitle {
        @include adaptiveValue("font-size", 22, 15);
        line-height: math.div(30, 22);
    }

    &__title {
        margin-top: 10px;
        @include adaptiveValue("font-size", 50, 25);
        line-height: math.div(60, 50);
    }

    &__btn {
        margin-top: 20px;
        align-self: start;

        @media (max-width:$tablet) {
            margin-top: 15px;
        }
    }
}
