.logo {
    position: relative;
    z-index: 12;

    svg {
        width: 98px;
        height: 50px;
        fill: #fff;
        display: block;
    }
    @media (max-width:$smallTablet){
         svg{
           width: 79px;
           height: 40px;
         } 
    }
}
