.section-social {
    position: fixed;
    bottom: 15px;
    right: -60px;
    z-index: 501;
    animation-name: socialAnimate;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    transition: background-color $transitionSpeed $transitionFunction,
        padding $transitionSpeed $transitionFunction,
        border-radius $transitionSpeed $transitionFunction;

    .social {
        display: flex;
        flex-direction: column;

        &__item {
            &:not(:first-child) {
                margin-top: 10px;
            }
        }


        &__link {
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: var(--green-color);
            box-shadow: var(--box-shadow-primary);
            transition: background-color $transitionSpeed $transitionFunction;

            svg {
                width: 20px;
                height: 20px;
                fill: var(--white-color);
                transition: fill $transitionSpeed $transitionFunction;
            }

            &:hover,
            &:focus {
                background-color: #fff;
                outline: none;

                svg {
                    fill: var(--green-color);
                }
            }
        }

        &__link--tg {}

        &__link--whatsapp {}

        &__link--vk {}

        &__link--email {}
    }

    &.social--active-menu {
        right: 50%;
        transform: translateX(50%);
        bottom: -60px;
        animation-name: socialAnimateMobile;

        .social {
            flex-direction: row;
            justify-content: center;

            &__item {
                &:not(:first-child) {
                    margin-top: 0;
                    margin-left: 20px;
                }
            }
        }
    }

    &.social-animate {
        background-color: var(--white-color);
        animation-name: socialAnimateActive;
        animation-duration: 4s;
        transition: padding 0.5s $transitionFunction,
            border-radius 0.5s $transitionFunction;
        padding: 10px;
        border-radius: 14px;
    }

    &.social-animate--mobile {
        background-color: var(--white-color);
        padding: 10px;
        border-radius: 15px;

        .social {
            &__link {
                pointer-events: none;
                cursor: default;
            }
        }
    }
}
