<section class="about" data-anchor-section id="about">
    <div class="container">
        <h2 class="about__title title-h2 tac">
            Обо мне
        </h2>
        <div class="about__inner">
            <p>
                Здравствуйте, меня зовут Сергей, верстаю сайты различной сложности.
            </p>
            <p>
                3 года назад я впервые узнал что такое вёрстка и начал активно изучать всё то, что с ней связано,
            </p>
            <p>
                Сейчас могу сверстать почти любой сложности сайт, от обычного лендинга до большого интернет-магазина.
            </p>
            <p>
                Пишу чистый, валидный код, используя методологию БЭМ, который будет понятен другому веб-разработчику.
            </p>
        </div>
    </div>
</section>
