<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__descr">
                <p>
                    Стрючков Сергей, 2022
                </p>
                <p>
                    Волгоград
                </p>
            </div>
            <a href="#hero" data-scroll class="footer__link" aria-label="Отправится наверх" title="Отправится наверх">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-up"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>
