<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="header__logo logo" aria-label="Логотип" data-aos="fade-right">
                <svg>
                    <use xlink:href="img/sprite.svg#logo"></use>
                </svg>
            </a>
            <nav class="header__nav nav" data-menu>
                <ul class="nav__list list-reset">
                    <li class="nav__item"><a href="#about" class="nav__link" data-anchor data-menu-item>Обо мне</a></li>
                    <li class="nav__item"><a href="#projects" class="nav__link" data-anchor data-menu-item>Мои
                            работы</a></li>
                    <li class="nav__item"><a href="" class="nav__link nav__link--contacts">Контакты</a></li>
                </ul>
            </nav>
            <button class="header__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
