<section class="hero" data-scroll-section id="hero">
    <div class="container hero__inner">
        <p class="hero__subtitle" data-aos="fade-down" data-aos-delay="300">
            Здравствуйте! Меня зовут Сергей
        </p>
        <h1 class="hero__title" data-aos="fade-down" data-aos-delay="600">
            Занимаюсь вёрсткой и разработкой сайтов
        </h1>
        <a href="#about" class="btn btn-reset btn-primary hero__btn" data-scroll data-aos="fade-down" data-aos-delay="1000">Подробнее</a>
    </div>
</section>
