<section class="projects" data-scroll-section id="projects">
    <div class="container">
        <div class="projects__top">
            <h2 class="projects__title title-h2">
                Мои работы
            </h2>
            <div class="projects__navigation projects-nav nav-primary">
                <div class="projects-nav__prev nav-primary__btn nav-primary__btn--prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
                <div class="projects-nav__next nav-primary__btn nav-primary__btn--next">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="projects__inner">
            <div class="swiper projects__slider projects-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide projects__slide projects-slide">
                        <button class="btn btn-reset projects-slide__inner" data-graph-path="project_lens-doctor">
                            <picture>
                                <source srcset="img/projects/lens-doctor/lens-doctor-preview.avif" type="image/avif">
                                <source srcset="img/projects/lens-doctor/lens-doctor-preview.webp" type="image/webp">
                                <img src="img/projects/lens-doctor/lens-doctor-preview.jpg" alt="Проект - lens-doctor">
                            </picture>
                        </button>
                    </div>
                    <div class="swiper-slide projects__slide projects-slide">
                        <button class="btn btn-reset projects-slide__inner" data-graph-path="project_moviedb">
                            <picture>
                                <source srcset="img/projects/moviedb/moviedb-preview.avif" type="image/avif">
                                <source srcset="img/projects/moviedb/moviedb-preview.webp" type="image/webp">
                                <img src="img/projects/moviedb/moviedb-preview.jpg" alt="Проект - moviedb">
                            </picture>
                        </button>
                    </div>
                    <div class="swiper-slide projects__slide projects-slide">
                        <button class="btn btn-reset projects-slide__inner" data-graph-path="project_nok-delivery">
                            <picture>
                                <source srcset="img/projects/nok-delivery/nok-delivary-preview.avif" type="image/avif">
                                <source srcset="img/projects/nok-delivery/nok-delivary-preview.webp" type="image/webp">
                                <img src="img/projects/nok-delivery/nok-delivary-preview.jpg"
                                    alt="Проект - nok-delivery">
                            </picture>
                        </button>
                    </div>
                    <div class="swiper-slide projects__slide projects-slide">
                        <button class="btn btn-reset projects-slide__inner" data-graph-path="project_window-house">
                            <picture>
                                <source srcset="img/projects/window-house/window-house-preview.avif" type="image/avif">
                                <source srcset="img/projects/window-house/window-house-preview.webp" type="image/webp">
                                <img src="img/projects/window-house/window-house-preview.jpg"
                                    alt="Проект - window-house">
                            </picture>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects__pagination pag-primary"></div>
    </div>
</section>
