<section class="skills" data-scroll-section id="skills">
    <div class="container">
        <h2 class="skills__title title-h2 tac">
            Используемые технологии в моих проектах
        </h2>
        <div class="skills__inner">
            <div class="swiper skills-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide skills__slide skills-slide">
                        <div class="skills-slide__inner">
                            <picture>
                                <source srcset="img/skills/html-css.avif" type="image/avif">
                                <source srcset="img/skills/html-css.webp" type="image/webp">
                                <img src="img/skills/html-css.png" class="skills-slide__img skills-slide__img--1"
                                    width="150" height="90" alt="Html/Css">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide skills__slide skills-slide">
                        <div class="skills-slide__inner">
                            <picture>
                                <source srcset="img/skills/js.avif" type="image/avif">
                                <source srcset="img/skills/js.webp" type="image/webp">
                                <img src="img/skills/js.png" class="skills-slide__img skills-slide__img--2" width="150"
                                    height="90" alt="Html/Css">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide skills__slide skills-slide">
                        <div class="skills-slide__inner">
                            <picture>
                                <source srcset="img/skills/gulp.avif" type="image/avif">
                                <source srcset="img/skills/gulp.webp" type="image/webp">
                                <img src="img/skills/gulp.png" class="skills-slide__img skills-slide__img--3"
                                    width="150" height="90" alt="Html/Css">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide skills__slide skills-slide">
                        <div class="skills-slide__inner">
                            <picture>
                                <source srcset="img/skills/sass.avif" type="image/avif">
                                <source srcset="img/skills/sass.webp" type="image/webp">
                                <img src="img/skills/sass.png" class="skills-slide__img skills-slide__img--4"
                                    width="150" height="90" alt="Html/Css">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide skills__slide skills-slide">
                        <div class="skills-slide__inner">
                            <picture>
                                <source srcset="img/skills/git.avif" type="image/avif">
                                <source srcset="img/skills/git.webp" type="image/webp">
                                <img src="img/skills/git.png" class="skills-slide__img skills-slide__img--5" width="150"
                                    height="90" alt="Html/Css">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide skills__slide skills-slide">
                        <div class="skills-slide__inner">
                            <picture>
                                <source srcset="img/skills/grid.avif" type="image/avif">
                                <source srcset="img/skills/grid.webp" type="image/webp">
                                <img src="img/skills/grid.png" class="skills-slide__img skills-slide__img--6"
                                    width="150" height="90" alt="Html/Css">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
