<section class="section-social">
    <ul class="social list-reset">
        <li class="social__item">
            <a href="https://t.me/sergey_st02" target="_blank" class="social__link social__link--tg" title="Написать в Telegram"
                aria-label="Написать в Telegram">
                <svg>
                    <use xlink:href="img/sprite.svg#tg"></use>
                </svg>
            </a>
        </li>
        <li class="social__item">
            <a href="https://wa.me/79880213629" target="_blank" class="social__link social__link--whatsapp" title="Написать в WhatsApp"
                aria-label="Написать в WhatsApp">
                <svg>
                    <use xlink:href="img/sprite.svg#whatsapp"></use>
                </svg>
            </a>
        </li>
        <li class="social__item">
            <a href="https://vk.me/id200790319" target="_blank" class="social__link social__link--vk" title="Написать в Вконтакте"
                aria-label="Написать в Вконтакте">
                <svg>
                    <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
            </a>
        </li>
        <li class="social__item">
            <a href="mailto:sergey.stryuchkov02@gmail.com" target="_blank" class="social__link social__link--email" title="Написать на почту"
                aria-label="Написать на почту">
                <svg>
                    <use xlink:href="img/sprite.svg#gmail"></use>
                </svg>
            </a>
        </li>
    </ul>
</section>