.title-h2 {
    @include adaptiveValue("font-size", 42, 20);
    font-weight: 700;
    line-height: math.div(60, 46);
    color: var(--black-color);
}

.tac {
    text-align: center;
}

.nav-primary {
    display: flex;
    align-items: center;

    &__btn {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: var(--green-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: var(--box-shadow-primary);
        transition: background-color $transitionSpeed $transitionFunction,
            opacity $transitionSpeed $transitionFunction;

        svg {
            width: 18px;
            height: 11px;
            fill: var(--white-color);
            transition: fill $transitionSpeed $transitionFunction;
        }

        &--prev {
            svg {
                transform: rotate(180deg);
            }
        }

        &--next {}

        &:not(:first-child) {
            margin-left: 10px;
        }

        &:hover,
        &:focus {
            background-color: var(--white-color);
            outline: none;

            svg {
                fill: var(--green-color);
            }
        }

        &.swiper-button-disabled {
            background-color: var(--white-color);
            opacity: 0.3;
            cursor: default;

            svg {
                fill: var(--green-color);
            }
        }

        @media (max-width:$smallTablet) {
            width: 37px;
            height: 37px;

            svg {
                width: 16px;
                height: 9px;
            }
        }
    }
}

.pag-primary {
    display: flex;
    justify-content: center;

    .swiper-pagination-bullet {
        opacity: 1;
        background-color: var(--white-color);
        width: 10px;
        height: 10px;
        border: 1px solid var(--green-color);

        &.swiper-pagination-bullet-active {
            background-color: var(--green-color);
        }
    }
}


@keyframes socialAnimate {
    100% {
        right: 15px;
    }
}

@keyframes socialAnimateActive {
    0% {
        right: 15px;
    }

    90% {
        right: 15px;
    }

    100% {
        right: -60px;
    }
}

@keyframes socialAnimateMobile {
    100% {
        bottom: 25px;
    }
}

@keyframes socialAnimateActiveMobile {
    50% {
        right: 50%;
        bottom: 50%;
        transform: translateX(50%) translateY(50%);
    }

    100% {
        bottom: 15px;
        right: 15px;
        transform: translateX(0) translateY(0);
    }
}



.page__body {
    &::before {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(34, 31, 38, .8);
        z-index: 500;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
    }

    &.overlay {
        &::before {
            opacity: 1;
            visibility: visible;
            transition: .3s ease-in-out;
        }
    }
}
