// main
$fontFamily: "Lato";
$fontSize: 14;
$minWidth: 320;
$maxWidth: 1920;
$contentWidth: 1200;
$containerOffset: 15;
$containerWidth: calc($contentWidth + ($containerOffset * 2));

// main colors
$bodyColor: #fff; // Цвет body по умолчаниюу
$mainColor: #424551; // Цвет шрифта по умолчанию

:root {

    // additional colors
    --black-color: #000;
    --white-color: #fff;
    --orange-color: #FF4242;
    --green-color: #17696A;
    --dark-green-color: #145C5D;
    // additional colors
    --header-color: #1E212C;

    // other
    --box-shadow-primary: rgba(100, 100, 111, 0.35) 0px 7px 29px 0px;
}



// others vars
$transitionSpeed: 0.3s;
$transitionFunction: ease-in-out;


// break points
$desktop: $containerWidth+px;
$tablet: 1024px;
$smallTablet: 768px;
$mobile: 576px;
$smallMobile: 480px;
